<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.bundled.osxdark</string>
	<key>darkthemeuid</key>
	<string>theme.urlimport.45C6D5E2-3750-440B-9EB6-F58B2F5ECF38</string>
</dict>
</plist>
