<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cz.vookimedlo.alfred.adapters</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>00D4523A-C814-4189-BF2D-F888C3A7024D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>894CFC2A-EBD6-4BC0-ACC0-3CFE92BCE13E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25AC4B4B-3C6F-45BC-84DE-7CD29B6AAF4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF69EA35-4083-4843-8431-668E2F548A8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42FF98AE-51E0-45AD-94B6-C33AD3C741B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>894CFC2A-EBD6-4BC0-ACC0-3CFE92BCE13E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57086C78-D820-4DF6-A085-6CEDF4036C01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96A4B558-43C4-4F30-A376-C5751FA90859</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B8AAAE65-D887-4635-B26C-FE877A58AAF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D1853C1-AE8F-47BA-B72A-5CC8B75C6D90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42FF98AE-51E0-45AD-94B6-C33AD3C741B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>771CA912-F0A5-4D8D-A90C-4B3B2753A459</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE4A8F15-3CA6-4FF0-9A51-3DB4D46217B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>25AC4B4B-3C6F-45BC-84DE-7CD29B6AAF4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79F01B7F-DE13-4D8E-88DE-54BF01B3130A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD8A751D-2A1D-45C9-925B-FEA63B9090C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C077C328-5DCF-4EF0-AC32-B6E163AFC009</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96A4B558-43C4-4F30-A376-C5751FA90859</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD109548-4FE4-4ADB-82B4-EDDC7733A279</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB62FBD9-E742-4B8F-A718-0B32347FC086</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57086C78-D820-4DF6-A085-6CEDF4036C01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD109548-4FE4-4ADB-82B4-EDDC7733A279</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00D4523A-C814-4189-BF2D-F888C3A7024D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B36A1A24-A789-468A-B82F-878A900F3BCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00D4523A-C814-4189-BF2D-F888C3A7024D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8AAAE65-D887-4635-B26C-FE877A58AAF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B36A1A24-A789-468A-B82F-878A900F3BCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C077C328-5DCF-4EF0-AC32-B6E163AFC009</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E18D6A82-7CBE-41EA-ABFF-C8B097907650</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD8A751D-2A1D-45C9-925B-FEA63B9090C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D1853C1-AE8F-47BA-B72A-5CC8B75C6D90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF69EA35-4083-4843-8431-668E2F548A8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>894CFC2A-EBD6-4BC0-ACC0-3CFE92BCE13E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE4A8F15-3CA6-4FF0-9A51-3DB4D46217B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79F01B7F-DE13-4D8E-88DE-54BF01B3130A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E18D6A82-7CBE-41EA-ABFF-C8B097907650</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42FF98AE-51E0-45AD-94B6-C33AD3C741B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michal Duda</string>
	<key>description</key>
	<string>Alfred 3 workflow for controlling various adapters.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Adapters</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>wifi</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Receiving Wi-Fi status…</string>
				<key>script</key>
				<string># Author: Michal Duda - 2018
# License: GPLv3
# WWW: https://github.com/vookimedlo/alfred-adapters
#

networksetup -getairportpower $wifi_hwport | grep On &gt;/dev/null 2&gt;&amp;1
rc=$?

if [[ $rc -eq 0 ]]; then

	readonly NET_SSID=`networksetup -getairportnetwork $wifi_hwport | sed 's/^[^:]*: *//'`
	rc=$?

	if [[ $rc == 0 ]]; then
		readonly NET_CONN_STRING=" and connected to the '$NET_SSID'."
	else
		readonly NET_CONN_STRING="."
	fi

	echo '&lt;?xml version="1.0"?&gt;
			&lt;items&gt;
				&lt;item uid="" arg="off"&gt;
					&lt;title&gt;Wi-Fi is enabled'${NET_CONN_STRING}'&lt;/title&gt;
					&lt;subtitle&gt;Disable Wi-Fi.&lt;/subtitle&gt;
					&lt;icon&gt;icons/Wifi-Off-Icon-Umber.png&lt;/icon&gt;
				&lt;/item&gt;
			&lt;/items&gt;'

else

	echo '&lt;?xml version="1.0"?&gt;
			&lt;items&gt;
				&lt;item uid="" arg="on"&gt;
					&lt;title&gt;Wi-Fi is disabled.&lt;/title&gt;
					&lt;subtitle&gt;Enable Wi-Fi.&lt;/subtitle&gt;
					&lt;icon&gt;icons/Wifi-On-Icon-Umber.png&lt;/icon&gt;
				&lt;/item&gt;
			&lt;/items&gt;'
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Toggles the Wi-Fi adapter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AB62FBD9-E742-4B8F-A718-0B32347FC086</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Wi-Fi Adapter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AD109548-4FE4-4ADB-82B4-EDDC7733A279</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Author: Michal Duda - 2018
# License: GPLv3
# WWW: https://github.com/vookimedlo/alfred-adapters
#

readonly COMMAND="{query}"
readonly NET_SWITCH=`networksetup -setairportpower $wifi_hwport $COMMAND`
readonly NET_STAT=`networksetup -getairportpower $wifi_hwport | sed 's/^[^:]*: *//' | tr '[A-Z]' '[a-z]'`

if [ "$COMMAND" == "$NET_STAT" ]; then

	case "$COMMAND" in
		'on') readonly STATUS='enabled' ;;
		   *) readonly STATUS='disabled' ;;
	esac
	
	echo -n "... has been $STATUS."
else
	echo -n 'Wi-Fi adapter cannot be toggled for unknown reason!' 
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>57086C78-D820-4DF6-A085-6CEDF4036C01</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^\.\.\.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>96A4B558-43C4-4F30-A376-C5751FA90859</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>00D4523A-C814-4189-BF2D-F888C3A7024D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>WiFi Adapter ERROR</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B36A1A24-A789-468A-B82F-878A900F3BCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^[^.]</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B8AAAE65-D887-4635-B26C-FE877A58AAF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>readonly latestTag=`curl -s https://api.github.com/repos/vookimedlo/alfred-adapters/releases/latest | grep browser_download_url | grep Adapters.alfredworkflow | cut -d '/' -f 8`

# THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/vookimedlo/alfred-adapters/${latestTag}/src/info.plist"
readonly workflow_url=`curl -s https://api.github.com/repos/vookimedlo/alfred-adapters/releases/latest | grep browser_download_url | grep Adapters.alfredworkflow | cut -d '"' -f 4`
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  readonly local notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  readonly local terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>894CFC2A-EBD6-4BC0-ACC0-3CFE92BCE13E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string># Author: Michal Duda - 2018
# License: GPLv3
# WWW: https://github.com/vookimedlo/alfred-adapters
#

# Based on "http://www.frederikseiffert.de/blueutil"
#

# Private API is used, so this could be broken anytime once the API is changed by Apple
#

import json
import objc
import sys
import time

query = {query}
result = "API is broken. Workflow needs to be updated!"

bundle = objc.loadBundle("IOBluetooth",
                         globals(),
                         scan_classes = False,
                         bundle_path = objc.pathForFramework('/System/Library/Frameworks/IOBluetooth.framework'))

if bundle:
    functionInfo = [('IOBluetoothPreferenceGetControllerPowerState', 'oI'),('IOBluetoothPreferenceSetControllerPowerState','vI')]
    moduleGlobals = {}

    try:
        # Load a desired function from bundle
        #
        objc.loadBundleFunctions(bundle, moduleGlobals, functionInfo, skip_undefined = False)
        
        # Enable/Disable BT Adapter
        #
        moduleGlobals['IOBluetoothPreferenceSetControllerPowerState'](query)

        # Wait some time for Bt adapter change
        #
        time.sleep(1.5)        

        # Check if BT adapter is enabled
        #
        isCorrectlySet = moduleGlobals['IOBluetoothPreferenceGetControllerPowerState']() == query
    
        if isCorrectlySet:
            result = "... has been "
            result += "enabled." if query == 1 else "disabled."
        else:
            result = "unknown error!"
    
    except:
        # API was changed, thus cannot be read from bundle
        #
        pass

sys.stdout.write(result)</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>79F01B7F-DE13-4D8E-88DE-54BF01B3130A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Bluetooth Adapter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6D1853C1-AE8F-47BA-B72A-5CC8B75C6D90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>blt</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Receiving a bluetooth status…</string>
				<key>script</key>
				<string># Author: Michal Duda - 2018
# License: GPLv3
# WWW: https://github.com/vookimedlo/alfred-adapters
#

# Based on "http://www.frederikseiffert.de/blueutil"
#

# Private API is used, so this could be broken anytime once the API is changed by Apple
#

import json
import objc
import sys

alfreditems = {"items": []}

def apiHasChanged():
    # Alfred menu items
    #
    alfreditems['items'].append({
                                "title": "API is not compatible anymore",
                                "subtitle": "Workflow needs to be updated!",
                                "arg": 999,
                                "icon": {
                                "path": 'icons/Bluetooth-Icon-Umber.png'
                                }
                                })

bundle = objc.loadBundle("IOBluetooth",
                         globals(),
                         scan_classes = False,
                         bundle_path = objc.pathForFramework('/System/Library/Frameworks/IOBluetooth.framework'))

if bundle:
    functionInfo = [('IOBluetoothPreferenceGetControllerPowerState', 'oI')]
    moduleGlobals = {}

    try:
        # Load a desired function from bundle
        #
        objc.loadBundleFunctions(bundle, moduleGlobals, functionInfo, skip_undefined = False)

        # Check if BT adapter is enabled
        #
        isEnabled = moduleGlobals['IOBluetoothPreferenceGetControllerPowerState']() == 1
    
        title = "Bluetooth is "
        subtitle = " bluetooth."

        if isEnabled:
            title += "enabled."
            subtitle = "Disable" + subtitle
            icon = 'icons/Bluetooth-Off-Icon-Umber.png'
        else:
            title += "disabled."
            subtitle = "Enable" + subtitle
            icon = 'icons/Bluetooth-On-Icon-Umber.png'

    
        # Alfred menu items
        #
        alfreditems['items'].append({
                                "title": title,
                                "subtitle": subtitle,
                                "arg": int(not isEnabled),
                                "icon": {
                                "path": icon
                                }
                                })
    
    except:
        # API was changed, thus cannot be read from bundle
        #
        apiHasChanged()
else:
    # API was changed, thus cannot be read from bundle
    #
    apiHasChanged()

dump = json.dumps(alfreditems, indent = 4)
sys.stdout.write(dump)
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Toggles the bluetooth adapter</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>771CA912-F0A5-4D8D-A90C-4B3B2753A459</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^\.\.\.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>CD8A751D-2A1D-45C9-925B-FEA63B9090C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>0|1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DE4A8F15-3CA6-4FF0-9A51-3DB4D46217B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>42FF98AE-51E0-45AD-94B6-C33AD3C741B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^[^01]</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>25AC4B4B-3C6F-45BC-84DE-7CD29B6AAF4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Bluetooth Adapter ERROR</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E18D6A82-7CBE-41EA-ABFF-C8B097907650</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^[^.]</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C077C328-5DCF-4EF0-AC32-B6E163AFC009</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>CF69EA35-4083-4843-8431-668E2F548A8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See https://github.com/vookimedlo/alfred-adapters</string>
	<key>uidata</key>
	<dict>
		<key>00D4523A-C814-4189-BF2D-F888C3A7024D</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>25AC4B4B-3C6F-45BC-84DE-7CD29B6AAF4E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Bluetooth Adapter - Error</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>42FF98AE-51E0-45AD-94B6-C33AD3C741B9</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>57086C78-D820-4DF6-A085-6CEDF4036C01</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>WiFi Adapter - Toggle Adapter</string>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>6D1853C1-AE8F-47BA-B72A-5CC8B75C6D90</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Bluetooth Adapter - Success</string>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>771CA912-F0A5-4D8D-A90C-4B3B2753A459</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Bluetooth Adapter - check for the adapter state</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>79F01B7F-DE13-4D8E-88DE-54BF01B3130A</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Bluetooth Adapter - Toggle Adapter</string>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>894CFC2A-EBD6-4BC0-ACC0-3CFE92BCE13E</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>96A4B558-43C4-4F30-A376-C5751FA90859</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>WiFi Adapter - Success</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>AB62FBD9-E742-4B8F-A718-0B32347FC086</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>WiFi Adapter - check for the adapter state</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>AD109548-4FE4-4ADB-82B4-EDDC7733A279</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>WiFi Adapter - Success</string>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>B36A1A24-A789-468A-B82F-878A900F3BCF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>WiFi Adapter - Error</string>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>B8AAAE65-D887-4635-B26C-FE877A58AAF2</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>WiFi Adapter - Error</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>C077C328-5DCF-4EF0-AC32-B6E163AFC009</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Bluetooth Adapter - Error</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>CD8A751D-2A1D-45C9-925B-FEA63B9090C9</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Bluetooth Adapter - Success</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>CF69EA35-4083-4843-8431-668E2F548A8A</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>DE4A8F15-3CA6-4FF0-9A51-3DB4D46217B3</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Bluetooth Adapter - filter error states out</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>E18D6A82-7CBE-41EA-ABFF-C8B097907650</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Bluetooth Adapter - Error</string>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>wifi_hwport</key>
		<string>en0</string>
	</dict>
	<key>version</key>
	<string>2018.04.20</string>
	<key>webaddress</key>
	<string>https://github.com/vookimedlo/alfred-adapters</string>
</dict>
</plist>
