[user]
	email = alex.popov.tech@gmail.com
	name = Alexander Popov
[color]
  branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix
[core]
	# Use custom `.gitignore`
	excludesfile = ~/.gitignore
	# Treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	# Make `git rebase` safer on macOS
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false
	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false
	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true
[alias]
	# View the current working tree status using the short format
	st = status --short --branch
	# Pull in remote changes for the current repository and all its submodules
  up = pull --rebase
	# Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
  # nice logs
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	# List aliases
	aliases = config --get-regexp alias
  # commit
  ci = commit
  cim = commit -m
	amend = commit --amend --reuse-message=HEAD
[url "git@github.com:"]
        insteadOf = git://github.com/
        insteadOf = gh:
        insteadOf = github:
[push]
	default = current
[pull]
  rebase = true
