snippet todo "TODO comment" bw
`!p snip.rv=get_comment_format()[0]` ${2:TODO}: $0${3: <${4:`!v strftime('%d-%m-%y')`}${5:, `!v Alexander Popov (alex.popov.tech@gmail.com)`}>} `!p snip.rv=get_comment_format()[2]`
endsnippet
