<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.level3studios.alfred.blink</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4F369AF6-D758-4517-8651-316964FD76B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D88267D-82C1-4385-AB92-7B3E80B164AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Level 3 Studios, LLC</string>
	<key>description</key>
	<string>Show/Hide Hidden files on macOS without having to stretch your fingers into their awkward shortcut command.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Blink</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
set state to 0
try
set state to do shell script "defaults read com.apple.finder AppleShowAllFiles" as string
end try
if state is "1" then
do shell script "defaults write com.apple.finder AppleShowAllFiles -bool FALSE"
else
do shell script "defaults write com.apple.finder AppleShowAllFiles -bool TRUE"
end if
do shell script "killall Finder"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>3D88267D-82C1-4385-AB92-7B3E80B164AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>blink</string>
				<key>subtext</key>
				<string>Toggle Visability of Hidden Files</string>
				<key>text</key>
				<string>Blink</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4F369AF6-D758-4517-8651-316964FD76B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>##########################################
# Blink
# BundleID: net.level3studios.alfred.blink
# Date Creatd: July, 16 2019
##########################################

Blink is a simple command that will execute the normally tedious to reach keyboard shortcut for showing/hiding hidden files on macOS. This is one of those tasks that I tend to perform a lot during development, so I needed a quick command and wanted to make a Alfred workflow for it.</string>
	<key>uidata</key>
	<dict>
		<key>3D88267D-82C1-4385-AB92-7B3E80B164AC</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>4F369AF6-D758-4517-8651-316964FD76B7</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://level3studios.net</string>
</dict>
</plist>
