<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rockbeacons.safesleep</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>22DAF481-B670-4A0C-8FDA-70E09E1E75B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F6B61EA-57F7-40FF-8EE4-2216CE2A5EC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F6B61EA-57F7-40FF-8EE4-2216CE2A5EC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06874A44-D521-4486-9B88-D1B94550334B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F196F40C-8B57-4CCB-8A9C-43FD4DA8B066</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22DAF481-B670-4A0C-8FDA-70E09E1E75B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Myo Myint</string>
	<key>description</key>
	<string>Eject drives and then order computer to sleep</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Safe Sleep</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>say "Ejected. Sleeping Now." speaking rate 300</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F6B61EA-57F7-40FF-8EE4-2216CE2A5EC4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>10</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>22DAF481-B670-4A0C-8FDA-70E09E1E75B1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>5</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>06874A44-D521-4486-9B88-D1B94550334B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sleep</string>
				<key>subtext</key>
				<string>Ejects drives and then order computer to sleep</string>
				<key>text</key>
				<string>Safe Sleep</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F196F40C-8B57-4CCB-8A9C-43FD4DA8B066</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Eject all drives and then order computer to sleep so as to attempt to avoid Disk Not Properly Ejected issues in macOS.</string>
	<key>uidata</key>
	<dict>
		<key>06874A44-D521-4486-9B88-D1B94550334B</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>22DAF481-B670-4A0C-8FDA-70E09E1E75B1</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>7F6B61EA-57F7-40FF-8EE4-2216CE2A5EC4</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>F196F40C-8B57-4CCB-8A9C-43FD4DA8B066</key>
		<dict>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0.2</string>
	<key>webaddress</key>
	<string>rockbeacons.com</string>
</dict>
</plist>
