<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.aurooba.zoommeeting</string>
	<key>connections</key>
	<dict>
		<key>04BC29F4-5EA0-4F91-AD8C-D6ADA82A20CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E06E40A-8236-44C1-BB3C-33F98E8D9006</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>288E0A3E-25F3-461F-8ADE-DDB9E6B0021C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94D93D1D-2A16-4482-896B-AE84896C05D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2BC11320-D49F-4AA0-A102-6EC2E2270AA3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>40F553D5-9390-4C83-A37F-4BA5096A4ECD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35CD57CF-7908-46AB-BDA7-998B3E9F5B34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04BC29F4-5EA0-4F91-AD8C-D6ADA82A20CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E06E40A-8236-44C1-BB3C-33F98E8D9006</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDC4E948-82A8-4C30-B659-7F3E36AA3CDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FD6AB44F-C339-49CC-82D1-ADF2CBB29D8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0D50835A-618F-45FD-A48A-AFC0CD6BA6BB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40F553D5-9390-4C83-A37F-4BA5096A4ECD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35CD57CF-7908-46AB-BDA7-998B3E9F5B34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>514FF0AC-6813-451D-8429-36AFA4012C3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>288E0A3E-25F3-461F-8ADE-DDB9E6B0021C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A1FF2BA-FD17-41A5-8B75-F5E1993EC162</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F99D266B-BFF0-4D70-A789-7A1BCDF0130A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94D93D1D-2A16-4482-896B-AE84896C05D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40F553D5-9390-4C83-A37F-4BA5096A4ECD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CF09547-45F8-4007-B76B-A40C872140A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C3F79C5-7B76-4D29-A3F2-2E5DD5426E76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BDC4E948-82A8-4C30-B659-7F3E36AA3CDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B22D7D31-3CB2-4709-8442-B877413B463D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A1FF2BA-FD17-41A5-8B75-F5E1993EC162</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F99D266B-BFF0-4D70-A789-7A1BCDF0130A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CF09547-45F8-4007-B76B-A40C872140A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD6AB44F-C339-49CC-82D1-ADF2CBB29D8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3893A12A-684C-45AF-A265-8DD7C4393244</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Aurooba Ahmed</string>
	<key>description</key>
	<string>Open a Zoom meeting link without the browser opening</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Join Zoom Meeting</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>5C3F79C5-7B76-4D29-A3F2-2E5DD5426E76</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>zoommtg://zoom.us/join?confno={var:split1}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9CF09547-45F8-4007-B76B-A40C872140A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Launching your Zoom meeting</string>
				<key>title</key>
				<string>Launching Notification</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BDC4E948-82A8-4C30-B659-7F3E36AA3CDD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B22D7D31-3CB2-4709-8442-B877413B463D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>&lt;?php

$zoomurl = $argv[1];

preg_match('#[^/]+(?=\/$|$)#', strval($zoomurl), $zoomid);

$zoomid[0] = str_replace('?', '&amp;', $zoomid[0]);

echo $zoomid[0];

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7A1FF2BA-FD17-41A5-8B75-F5E1993EC162</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>F99D266B-BFF0-4D70-A789-7A1BCDF0130A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>personal</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>94D93D1D-2A16-4482-896B-AE84896C05D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>zm</string>
				<key>subtext</key>
				<string>or paste a link to launch</string>
				<key>text</key>
				<string>Launch your personal Zoom meeting</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>514FF0AC-6813-451D-8429-36AFA4012C3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>&lt;?php

$zoomurl = getenv('personal');

preg_match('#[^/]+(?=\/$|$)#', strval($zoomurl), $zoomid);

$zoomid[0] = str_replace('?', '&amp;', $zoomid[0]);

echo $zoomid[0];

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>40F553D5-9390-4C83-A37F-4BA5096A4ECD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>zoommtg://zoom.us/join?confno={var:split1}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>04BC29F4-5EA0-4F91-AD8C-D6ADA82A20CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>launch new link</string>
						<key>uid</key>
						<string>2BC11320-D49F-4AA0-A102-6EC2E2270AA3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else launch personal link</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>288E0A3E-25F3-461F-8ADE-DDB9E6B0021C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>35CD57CF-7908-46AB-BDA7-998B3E9F5B34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:personal}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FD6AB44F-C339-49CC-82D1-ADF2CBB29D8D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Launching! Your Zoom link has been copied to clipboard! Paste away!</string>
				<key>title</key>
				<string>Zoom link on clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3893A12A-684C-45AF-A265-8DD7C4393244</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>{var:personal}</string>
						<key>outputlabel</key>
						<string>paste to clipboard and notify</string>
						<key>uid</key>
						<string>0D50835A-618F-45FD-A48A-AFC0CD6BA6BB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else do nothing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3E06E40A-8236-44C1-BB3C-33F98E8D9006</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow allows you to open a Zoom meeting bypassing the browser tab that opens.

You can also give it your personal zoom link in the Environment variable (called "personal") and use the command `zm` to launch your personal meeting room and copy the link to clipboard to share with folks.

You can also type in `zm {a zoom link}` to launch a different link given to you by someone else!</string>
	<key>uidata</key>
	<dict>
		<key>04BC29F4-5EA0-4F91-AD8C-D6ADA82A20CE</key>
		<dict>
			<key>xpos</key>
			<integer>735</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>288E0A3E-25F3-461F-8ADE-DDB9E6B0021C</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>35CD57CF-7908-46AB-BDA7-998B3E9F5B34</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>3893A12A-684C-45AF-A265-8DD7C4393244</key>
		<dict>
			<key>xpos</key>
			<integer>1175</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>3E06E40A-8236-44C1-BB3C-33F98E8D9006</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>40F553D5-9390-4C83-A37F-4BA5096A4ECD</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>514FF0AC-6813-451D-8429-36AFA4012C3B</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>5C3F79C5-7B76-4D29-A3F2-2E5DD5426E76</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>7A1FF2BA-FD17-41A5-8B75-F5E1993EC162</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>94D93D1D-2A16-4482-896B-AE84896C05D7</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>9CF09547-45F8-4007-B76B-A40C872140A2</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>B22D7D31-3CB2-4709-8442-B877413B463D</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>BDC4E948-82A8-4C30-B659-7F3E36AA3CDD</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>F99D266B-BFF0-4D70-A789-7A1BCDF0130A</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>FD6AB44F-C339-49CC-82D1-ADF2CBB29D8D</key>
		<dict>
			<key>xpos</key>
			<integer>1025</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>personal</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>personal</string>
	</array>
	<key>version</key>
	<string>1.2.1</string>
	<key>webaddress</key>
	<string>https://aurooba.com</string>
</dict>
</plist>
