<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ejectKeywordEnabled</key>
	<true/>
	<key>hideKeywordEnabled</key>
	<false/>
	<key>lockKeywordEnabled</key>
	<false/>
	<key>logoutKeywordEnabled</key>
	<false/>
	<key>quitallKeywordEnabled</key>
	<false/>
	<key>screensaverKeywordEnabled</key>
	<false/>
	<key>showtrashKeywordEnabled</key>
	<false/>
	<key>sleepKeywordEnabled</key>
	<false/>
	<key>sleepdisplaysKeywordEnabled</key>
	<false/>
	<key>volumedownKeywordEnabled</key>
	<false/>
	<key>volumeupKeywordEnabled</key>
	<false/>
</dict>
</plist>
