<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mo.com.sleeplessmind.time-v2</string>
	<key>connections</key>
	<dict>
		<key>05092DB3-8053-4207-B2F7-3288859CECB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>606FE7E7-4F61-4592-8167-7AD0A335F899</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>090C841C-20D6-48CC-965E-695CC6B40C3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F12EF7B3-2A92-41DB-AAE7-55238386BABE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C985BB3-7C3C-4367-9F73-B2F240CD2F16</key>
		<array/>
		<key>606FE7E7-4F61-4592-8167-7AD0A335F899</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C985BB3-7C3C-4367-9F73-B2F240CD2F16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7505EC82-4B04-4C3B-83CF-4BB67F8A9A71</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F7C79AAC-97B0-4DA3-A11D-AF952EF4AA85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4B1E56B-3A72-4807-9B08-333839739857</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED8CB5E9-49D7-421C-BBB5-17BD437A3260</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED8CB5E9-49D7-421C-BBB5-17BD437A3260</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05092DB3-8053-4207-B2F7-3288859CECB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>F7C79AAC-97B0-4DA3-A11D-AF952EF4AA85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>090C841C-20D6-48CC-965E-695CC6B40C3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Guill Lo</string>
	<key>description</key>
	<string>Track your time using Toggl, Harvest or Everhour</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Time</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>start</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D4B1E56B-3A72-4807-9B08-333839739857</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>start</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3C985BB3-7C3C-4367-9F73-B2F240CD2F16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>time</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Grabbing data from space...</string>
				<key>script</key>
				<string>php src/app.php "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Keep tying...</string>
				<key>title</key>
				<string>Time</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ED8CB5E9-49D7-421C-BBB5-17BD437A3260</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>do</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>7505EC82-4B04-4C3B-83CF-4BB67F8A9A71</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>606FE7E7-4F61-4592-8167-7AD0A335F899</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>05092DB3-8053-4207-B2F7-3288859CECB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Alfred-Time</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F12EF7B3-2A92-41DB-AAE7-55238386BABE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php src/app.php</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>090C841C-20D6-48CC-965E-695CC6B40C3E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>F7C79AAC-97B0-4DA3-A11D-AF952EF4AA85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Start, stop, and continue tracking time with Toggl, Harvest or Everhour through Alfred.

How to use: https://github.com/godbout/alfred-time/blob/master/README.md

Enjoy!</string>
	<key>uidata</key>
	<dict>
		<key>05092DB3-8053-4207-B2F7-3288859CECB4</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>090C841C-20D6-48CC-965E-695CC6B40C3E</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>3C985BB3-7C3C-4367-9F73-B2F240CD2F16</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>606FE7E7-4F61-4592-8167-7AD0A335F899</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>D4B1E56B-3A72-4807-9B08-333839739857</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>ED8CB5E9-49D7-421C-BBB5-17BD437A3260</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>F12EF7B3-2A92-41DB-AAE7-55238386BABE</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>F7C79AAC-97B0-4DA3-A11D-AF952EF4AA85</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.1.0</string>
	<key>webaddress</key>
	<string>https://sleeplessmind.com.mo</string>
</dict>
</plist>
