<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.paulrudy.ToggleDoNotDisturb</string>
	<key>connections</key>
	<dict>
		<key>4D79CE63-3ED0-4CD8-9966-FFB85F1FD97A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11E1D42B-D188-4145-94A6-21BA02BF3C4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A434547-0497-4F94-91E5-F649CA1CA16D</key>
		<array/>
		<key>64F4083D-F064-4303-8AD2-463FEF1A5FBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F680F21D-3803-4620-98F0-FD70CD2743A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A90DB3DE-6C16-45B1-8EA0-11F4B8C94FFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A90DB3DE-6C16-45B1-8EA0-11F4B8C94FFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E796687C-6657-4A05-A80E-1CD33D52CECB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E796687C-6657-4A05-A80E-1CD33D52CECB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A434547-0497-4F94-91E5-F649CA1CA16D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F680F21D-3803-4620-98F0-FD70CD2743A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D79CE63-3ED0-4CD8-9966-FFB85F1FD97A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Paul Wirth</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Do Not Disturb</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Do Not Disturb has been turned off.</string>
				<key>title</key>
				<string>Go ahead and disturb me.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>11E1D42B-D188-4145-94A6-21BA02BF3C4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>defaults -currentHost write "${HOME}/Library/Preferences/ByHost/com.apple.notificationcenterui" doNotDisturb -boolean false
killall NotificationCenter</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D79CE63-3ED0-4CD8-9966-FFB85F1FD97A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>off</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F680F21D-3803-4620-98F0-FD70CD2743A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dnd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>To disturb or not to disturb?</string>
				<key>script</key>
				<string>set checkDnd to do shell script "defaults -currentHost read com.apple.notificationcenterui | grep 'doNotDisturb = ' | grep -o '[0-9]'"if checkDnd = "1" then	set dnd to "on"
	set turn to "off"	set mode to "DO Disturb"else	set dnd to "off"
	set turn to "on"	set mode to "Do NOT Disturb"end ifset itemString to "&lt;item uid=\"" &amp; mode &amp; "\" arg=\"" &amp; turn &amp; "\"&gt;&lt;title&gt;" &amp; mode &amp; "&lt;/title&gt;&lt;icon&gt;icon.png&lt;/icon&gt;&lt;subtitle&gt;Do Not Disturb is currently " &amp; dnd &amp; ". Turn it " &amp; turn &amp; ".&lt;/subtitle&gt;&lt;/item&gt;"set output to "&lt;?xml version=\"1.0\"?&gt;&lt;items&gt;" &amp; itemString &amp; "&lt;/items&gt;"
do shell script "echo '" &amp; output &amp; "'"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>To disturb or not to disturb?</string>
				<key>title</key>
				<string>Toggle Do Not Disturb</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>64F4083D-F064-4303-8AD2-463FEF1A5FBB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Do Not Disturb will now be turned on.</string>
				<key>title</key>
				<string>Do Not Disturb me.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E796687C-6657-4A05-A80E-1CD33D52CECB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sleep 7
defaults -currentHost write "${HOME}/Library/Preferences/ByHost/com.apple.notificationcenterui" doNotDisturb -boolean true
defaults -currentHost write "${HOME}/Library/Preferences/ByHost/com.apple.notificationcenterui" doNotDisturbDate -date "`date -u +\"%Y-%m-%d %H:%M:%S +000\"`"
killall NotificationCenter</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A434547-0497-4F94-91E5-F649CA1CA16D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>on</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A90DB3DE-6C16-45B1-8EA0-11F4B8C94FFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Inspired by: http://www.alfredforum.com/topic/4133-toggle-do-not-disturb/
Script from: https://gist.github.com/Zettt/fd9979100d4603e548d6</string>
	<key>uidata</key>
	<dict>
		<key>11E1D42B-D188-4145-94A6-21BA02BF3C4C</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>4D79CE63-3ED0-4CD8-9966-FFB85F1FD97A</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>5A434547-0497-4F94-91E5-F649CA1CA16D</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>64F4083D-F064-4303-8AD2-463FEF1A5FBB</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>A90DB3DE-6C16-45B1-8EA0-11F4B8C94FFA</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>E796687C-6657-4A05-A80E-1CD33D52CECB</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>F680F21D-3803-4620-98F0-FD70CD2743A1</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
